* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Heebo', sans-serif;
}

body {
    background-image:
        linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)),
        url("https://images.unsplash.com/photo-1527247043589-98e6ac08f56c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: auto;
    width: 100%;
}

/*

-----RESPONSIZE LAYOUT MAIN SCREEN-----

*/

.initial {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20vh;
}

.icon {
    width: 50%;
}

.block1 {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
    margin-top: 10%;
}

.block1 h1 {
    margin-bottom: 5%;
    font-size: 5vh;
}

.block1 p {
    margin-top: 5%;
    font-size: 2vh;
}

.beginQuiz {
    display: block;
    margin: auto auto;
    padding: 8px 8px;
    font-size: 2.5vh;
    text-decoration: none;
    color: rgb(237, 233, 222);
    background-color: rgb(63, 105, 170);
    border: none;
    width: 35%;
}

/*

-----RESPONSIZE LAYOUT QUIZ SCREEN-----

*/

.topBanner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    height: 10vh;
    margin-top: 4.6vh;
}

.questionRightInterval {
    font-size: 4vh;
    margin-right: 2vh;
    margin-top: 4vh;
}

.questionInterval {
    font-size: 3vh;
    display: block;
    text-align: center;
    margin-top: 1vh;
}

.topBanner img {
    height: 12vh;
}

.questionBlock {
    margin-top: 6vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.submitButton {
    width: 100%;
    height: 8vh;
    left: 0;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 16px;
    background-color: rgb(226, 123, 123);
    font-size: 3.2vh;
    border: none;
    border: solid 1px black;
    transition: all 0.3s ease-out;
}
/*
---------------THIS WILL BE THE RIGHT BLOCK---------------
*/

.rightAnswer {
    margin-top: 15vh;
    padding-top: 4vh;
    width: 100%;
    text-align: center;
    background-color: rgba(212, 255, 195, 0.150); /* 137 */
}

.rightImg {
    height: 17vh;
    width: 17vh;
    margin: auto auto;
    margin-bottom: 5vh;
}

/*
---------------END OF RIGHT BLOCK---------------
*/

/*
---------------THIS WILL BE THE WRONG BLOCK---------------
*/

.wrongAnswer {
    margin-top: 15vh;
    padding-top: 4vh;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 197, 197, 0.137);/* 137 */
}

.wrongImg {
    height: 17vh;
    width: 17vh;
    margin: auto auto;
    margin-bottom: 5vh;
}

/*
---------------END OF WRONG BLOCK---------------
*/

/*
---------------THIS WILL BE THE LOSER BLOCK---------------
*/

.loserBlock {
    margin-top: 15vh;
    padding-top: 4vh;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 197, 197, 0.137);/* 137 */
}

.loserBlock h2 {
    font-size: 2.5vh;
    margin-bottom: 2vh;
}

.loserIcon {
    height: 17vh;
    width: 17vh;
    margin: auto auto;
    margin-bottom: 2vh;
}

.restartButton {
    width: 25vh;
    height: 4.5vh;
    margin-bottom: 4vh;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 16px;
    background-color: rgb(226, 123, 123);
    font-size: 2.2vh;
    border: none;
}

/*
---------------END OF LOSER BLOCK---------------
*/

/*
---------------THIS WILL BE THE WINNING BLOCK---------------
*/




.winnerBlock {
    margin-top: 15vh;
    padding-top: 4vh;
    width: 100%;
    text-align: center;
    background-color: rgba(212, 255, 195, 0.150);/* 137 */
}

.winnerIcon {
    height: 17vh;
    width: 17vh;
    margin: auto auto;
    margin-bottom: 5vh;
}

.winnerBlock button {
    margin-top: 2vh;
    background-color: rgb(63, 105, 170);
}
/*
---------------END OF WINNING BLOCK---------------
*/

/*
---------------THIS WILL BE THE WRONG ANSWER BLOCK---------------
*/

.wrongAnswer {
    margin-top: 15vh;
    padding-top: 4vh;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 197, 197, 0.137);/* 137 */
}

.wrongImg {
    height: 17vh;
    width: 17vh;
    margin: auto auto;
    margin-bottom: 5vh;
}

/*
---------------END OF WRONG ANSWER BLOCK---------------
*/

.nextQuestion {
    margin-top: 2vh;
    margin-bottom: 4vh;
    color: rgb(255, 255, 255);
    width: 20vh;
    height: 50px;
    font-size: 16px;
    background-color: rgb(98, 161, 233); /*rgb(143, 223, 180)*/
    transition: all 0.3s ease-out;
    cursor: pointer;
    border: none;
}

/*
---------------THIS WILL BE THE WRONG BLOCK---------------
*/


.questionImg {
    height: 22vh;
    width: 25vh;
    border-radius: 10%;
    margin: auto auto;
    margin-bottom: 5vh;
}

.answerBlock {
    display: flex;
    width: 100%;
    height: 8vh;

    justify-content: center;
    margin-bottom: 1.75vh;
    transition: all 0.3s ease-out;
    font-size: 3vh;
    font-weight: bold;
    border: solid 1px black;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid #ffffff;
    transition: 0.2s all linear;
    outline: none;
    margin-top: 2.8vh;
}

span {
    margin-top: 2.2vh;
}

input:checked {
    border: 8px solid #fffb00bb;
}

input[type=radio] {
    flex: 0 0 auto;
    margin-right: 10px;
}

.one {
    background-color: rgb(192, 98, 255);
}

.two {
    background-color: rgb(255, 165, 155);
}

.three {
    background-color: rgb(107, 176, 255);
}

.four {
    background: #4c5062;
}

fieldset {
    border: none;
}

@media screen and (min-width: 769px){
    .initial {
        margin-top: 10vh;
    }
    
    .icon {
        width: 25vh;
    }
    
    .block1 {
        margin-top: 2.5%;
    }
    
    .block1 h1 {
        margin-bottom: 2%;
        font-size: 5vh;
    }
    
    .beginQuiz {
        max-width: 35vh;
    }

    .block1 p {
        margin-top: 2%;
        font-size: 3vh;
    }

    .answerBlock {
        display: flex;
        text-align: center;
        margin: auto auto;
        width: 70vh;
        height: 8vh;
        border: none;
        border-radius: 5px;
        margin-bottom: 1.7vh;
    }

    input {
        margin-top: 3.3vh;
    }

    input:checked {
        border: 8px solid #fffb00bb;
    }

    .submitButton {
        width: 70vh;
        border-radius: 5px;
        font-size: 3.2vh;
        border: none;
    }

    .rightAnswer {
        margin-top: 15vh;
        margin-left: auto;
        margin-right: auto;
        width: 70vh;
        font-size: 2vh;
    }

    .nextQuestion {
        font-size: 2vh;
    }
    
    .wrongAnswer {
        margin-top: 15vh;
        margin-left: auto;
        margin-right: auto;
        width: 70vh;
    }

    .winnerBlock {
        width: 70vh;
        margin-right: auto;
        margin-left: auto;
        margin-top: 15vh;
    }

}